h1 {
  font-size: 3.6rem;
  font-weight: 800;
}
p {
  color: gray;
}
.sections {
  margin: 2rem 4rem;
  display: flex;
}
.bg > img {
  width: 85%;
}
.infos {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  position: relative;
}
.more-info {
  position: absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50%);
}

.more-info > p {
  margin-bottom: 2.5rem;
}

/********   Section 2  ******/

.section-tow {
  background-color: hsl(240, 100%, 5%);
  position: relative;
  right: 7%;
  height: 530px;
}
.news {
  margin: 2rem;
}

.block-new {
  border-bottom: 1px solid gray;
  margin: 3rem 0;
}
.block-new:last-child {
  border: none;
}
.block-new > p {
  padding: 1rem 0;
}
h2 {
  color: hsl(35, 77%, 62%);
  font-weight: 800;
  margin-bottom: 2rem;
  font-size: 38px;
}
h3 {
  color: #fff;
  font-weight: 700;
}
