
// header :
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

ul {
  display: flex;
  align-items: center;
  position: relative;
  right: 40%;
}
li {
  padding: 0 1rem;
  // font-family: 'Font3';
}
